/*Actual lines*/
.Board_introduction{
    display: flex;
    position: relative;
    width: 1920px;
    height: 1080px;
}

.LongBoard{
    z-index: -2;
    color: #2E302E;
    align-items: center;
    justify-content: space-around;
    height: 2000px;
    flex-direction: column;
}

.life_quote p:first-of-type{
    line-height: 100px;
    letter-spacing: 0.3em;
    font-size: 25px;
}

.life_quote p:nth-of-type(2){
    font-size: 15px;
    letter-spacing: 0.3em;
    text-align: center;
}


.Board_keywords{
    text-align: center;
    background-color: #F5F7F6;
    margin-top: 100px;
    line-height: 150%;
    letter-spacing: 0.2em;
    font-size: 18px;
}

.explain_letter_set{
    letter-spacing: 0.2em;
    font-size: 18px;
    line-height: 200%;
}

.boardpic_letter_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle_line_justify{
    display: flex;
    justify-content: center;
}

.middle_line{
    position: absolute;
    z-index: -1;
    border: 0.5px solid;
    transform: rotate(90deg);
}

.longboard_introduction_line{
    width: 1280px;
    height: 0px;
    top: 1360px;
}

.longboard_border_color{
    border-color: #49705C;
}

.border_line_size{
    position: absolute;
    height: 900px;
    width: 0px;
    left: 959.5px;
    z-index: -1;
    border: 0.5px solid;
}

.pageShape{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid;
    top: 700px;
}

.Lyrics{
    justify-content: center;
}

.lyrics_line{
    position: absolute;
    font-size: 20px;
    letter-spacing: 0.2em;
    top: 530px;
    left: 200px;
}

.line_height{
    width: 1080px;
    height: 0px;
    top: 540px;
}

.lyrics_img{
    height: 1000px;
}

.Ballet{
    position: absolute;
    transform: rotate(3deg);
    left: 665px;
}

.shall_we_start{
    position: absolute;
    transform: rotate(90deg);
    font-size: 15px;
    letter-spacing: 0.2em;
    top: 950px;
    left: 890px;
}




/*Board introduction about nose and tail of LongBoard*/


.NoseTail{
    flex-direction: column;
}

.horizon{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row_reverse{
    flex-direction: row-reverse;
}

.horizon * {
    position: absolute;
}


#Nose_pic_location{
    left: 960.5px;
    top: 200.5px;
}

#Tail_pic_location{
    right: 960.5px;
    top: 500.5px;
}


.horizon:first-of-type{
    top: 400px;
}

.left_explain_location{
    top: 250px;
    text-align: right;
    left: 300px;
}

.right_explain_location{
    top: 550px;
    text-align: left;
    right: 300px;
}

.explain_line{
    position: absolute;
    width: 380px;
    height: 0px;
    border: 0.5px solid #49705C;
}

.explain_line_square{
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #49705C;
    transform: rotate(45deg);
    top: -3.5px;
}

.Right{
    left: 580px;
}

.Left{
    transform: scaleX(-1);
    right: 580px;
}



/*Measure explanation about Longboard*/


.Measure{
    display: block;
}

.surfboard_length_measure_pictures{
    position: absolute;
    left: 1300px;
    top: 300px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.surfboard_length_measure_pictures img:first-of-type{
    height: 230px;
}

.surfboard_length_measure_pictures img:nth-of-type(2){
    height: 300px;
    padding-left: 100px;
}

.surfboard_length_measure_line{
    width: 250px;
    height: 0px;
    border: 0.5px solid #B7C5BD;
    position: absolute;
}

#longboard_measure_line{
    left: 1330px;
    top: 300px;
}

#longboard_measure_foot{
    position: absolute;
    color: #B7C5BD;
    font-size: 18px;
    left: 1330px;
    top: 282px;
}

.Board_length_measure_explain_line{
    position: absolute;
}

.explain_letter_location_set{

}


/*Question guy comes up*/

.Question{
    flex-direction: column;
    align-items: center;
}

.Question img{
    height: 300px;
}