.mainPage_poster{
    width: 1920px;
    height: 1350px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.mainPage_poster div{
    width: 960px;
    height: 1350px;
}

#mainPage_poster_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#mainPage_poster_right img{
    height: 1300px;
    padding-top: 120px;
    filter: drop-shadow(0px 0px 25px #BDBDBD);
}

#mainPage_poster_left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


#mainPage_poster_left_above_letter{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainPage_poster_left_above_letter p{
    padding-top: 100px;
    padding-bottom: 50px;
    letter-spacing: 1em;
    font-size: 25px;
}

#mainPage_poster_left_above_letter > p > span{
    font-weight: 600;
    line-height: 100.02%;
}

#mainPage_poster_left_below_icon img{
    width: 70px;
    height: 70px;
    margin-right: 140px;
    margin-top: 300px;
}

#mainPage_poster_left img{
    width: 70px;
    height: 70px;
}

.mainPage_arrow{
    display: flex;
    justify-content: center;
    height: 150px;
    padding-top: 40px;
}

#mainPage_arrow_icon{
    width: 15px;
    height: 15px;
    border: solid black;
    border-width: 0 4px 4px 0;
    border-radius: 3px;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

.mainPage_navigate{
    width: 1920px;
    height: 1100px;
    background-color: #F7F7F8;
    display: flex;
}


#opening_statement{
    width: 960px;
    padding-left: 600px;
    font-size: 25px;
    line-height: 100.02%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
}

.types_navigate{
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 100.02%;
    letter-spacing: 0.5em;
    line-height: 500%;
}

.types_navigate a{
    text-decoration: none;
    display: block;
    color: black;
}

.types_navigate a:visited{
    color: black;
}






