.LongBoard{
    background-color: #F5F7F6;
    border-color: #49705C;
    color: #49705C;
}

.LongBoard a{
    text-decoration: none;
    display: block;
    color: #49705C;
}

.LongBoard a:visited {
  color: #49705C;
}

.longboard_border_color{
    border: 0.5px solid #49705C;
}

#long_lyrics_pic{
    height: 500px;
    left: 787px;
}

.Ballet{
    position: absolute;
    top: 290px;
    /*transform: rotate(3deg);*/
}


#longboard_measure_line{
    left: 1330px;
    top: 300px;
    border-color: #B7C5BD;
}

#longboard_measure_foot{
    position: absolute;
    color: #B7C5BD;
    font-size: 18px;
    left: 1330px;
    top: 282px;
}

.explain_line_square{
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #49705C;
    /*transform: rotate(45deg);*/
    top: -3.5px;
    left: -5px;
}

#long_Nose_pic_location{
    left: 960.5px;
    top: 200.5px;
}

#long_Tail_pic_location{
    right: 960.5px;
    top: 500.5px;
}

