<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>서피 피쉬보드</title>
    <link rel="stylesheet" href="../static/src/style/header_footer.css">
    <link rel="stylesheet" href="../static/src/style/introduction.css">
    <link rel="stylesheet" href="../static/src/style/main_page.css">
    <link rel="stylesheet" href="../static/src/style/setup.css">
    <link rel="stylesheet" href="../static/src/style/src_miniBoard.css">
    <link rel="stylesheet" href="../static/src/style/src_longBoard.css">
    <link rel="stylesheet" href="../static/src/style/src_fishBoard.css">
    <link rel="stylesheet" href="../static/src/style/src_shortBoard.css">
    <style>
        body{
            background-color: #F5F5F7;
            color: #353B44;
        }
        .footer{background-color: white}
    </style>
</head>
<body>

    <div class="pageHeader">
        <a href="longBoard.html" class="pageHeaderLongboard">롱보드</a>
        <a href="miniBoard.html" class="pageHeaderMiniboard">미니 말</a>
        <a href="main.html" class="pageIcon"><img src="../static/src/img/Icon.png"></a>
        <a href="shortBoard.html" class="pageHeaderShortboard">숏보드</a>
        <a href="fishBoard.html" class="pageHeaderFishboard" style="color: gray">피쉬보드</a>
    </div>

    <div class="Board_introduction start">
        <div class="pageShape" style="border-color: #112386; transform: rotate(45deg); top: 698px;"></div>
        <div class="middle_line introduction_line fish_border_color"></div>
         <div class="life_quote">
            <p><span>피쉬보드</span>는 돌고래와 서핑하는 것과 같다.</p>
            <p>- 켈리 슬레이터 -</p>
         </div>
        <div class="boardpic_letter_wrap">
            <img style="height: 450px;" src="../static/src/img/fish_board.png">
            <div class="Board_keywords" style="background-color: #F5F5F7;">
                <p>피쉬보드를 키워드로 나타내면</p>
                <p>하모니, 리듬, 혁신 입니다.</p>
            </div>
        </div>
    </div>

    <div class="Board_introduction Lyrics">
        <div class="middle_line line_height fish_border_color"></div>
        <div class="lyrics_line" style="top: 474px; left: 400px">돌고래와 함께 즐겨봐요.</div>
        <img id="fish_lyrics_pic" src="../static/src/img/dolphine.png">
        <div class="shall_we_start">그럼 시작해 볼까요?</div>
    </div>

    <div class="Board_introduction NoseTail" style="align-items: center">
        <div class="middle_line fish_border_color line_height"></div>
        <div class="fish_nosetail_wrap Fish"></div>
        <img id="fish_board_nose_pic" src="../static/src/img/fishboard_nose.png">
        <div class="explain_line fish_border_color Right" style="top: 870px">
            <div class="Fish explain_line_square_rotate"></div>
        </div>
        <div class="right_explain_location" style="top: 835px">피쉬보드의 Nose는 숏보드처럼<br>날카롭지만 그에 비해 훨씬 <span>넓어</span>요.</div>

        <div class="explain_navigation short_border_color Right" style="left: 960px;top: 1000px">
            <div class="explain_line_triangle" style="left: -7px;z-index: -1;"></div>
        </div>
        <div class="what_is Short" style="top: 972px"><a href="shortBoard.html">숏보드란?</a></div>
    </div>

    <div class="Board_introduction NoseTail" style="align-items: center">
        <div class="middle_line fish_border_color line_height"></div>
        <div class="fish_nosetail_wrap Fish"></div>
        <img id="fish_board_tail_pic" src="../static/src/img/fishboard_tail.png">
        <div class="explain_line fish_border_color Left" style="top: 870px">
            <div class="Fish explain_line_square_rotate"></div>
        </div>
        <div class="left_explain_location" style="top: 835px">피쉬보드의 가장 큰 특징인 Tail은 이름 그대로<br><span>물고기의 꼬리</span>와 닮았다고 해서 붙여진 이름입니다.</div>

        <div class="explain_line fish_border_color Right" style="top: 1070px">
            <div class="Fish explain_line_square_rotate"></div>
        </div>
        <div class="right_explain_location" style="top: 1035px">피쉬보드의 Nose는 숏보드처럼<br>날카롭지만 그에 비해 훨씬 <span>넓어</span>요.</div>
    </div>

   <div class="Board_introduction Measure">
        <div class="middle_line_justify">
            <div class="middle_line fish_border_color line_height"></div>
        </div>
        <div class="surfboard_length_measure_pictures">
            <img src="../static/src/img/guy_with_yellow_surfboard.png">
            <img src="../static/src/img/fish_board.png" style="height: 200px;">
        </div>
        <div class="surfboard_length_measure_line" id="fishboard_measure_line"></div>
        <div class="surfboard_length_measure_foot" id="fishboard_measure_foot">5피트</div>
        <div class="explain_line fish_border_color Left" style="top: 230px">
            <div class="Longboard explain_line_square"></div>
        </div>
        <div class="explain_line fish_border_color Left" style="top: 700px">
            <div class="Longboard explain_line_square"></div>
        </div>
       <div class="left_explain_location" style="position: absolute; top: 195px" >피쉬보드는 대략 <span>5피트</span> 정도이며<br>길이와 넓이, 두께 모두 서퍼의 기호에 따라 변합니다.</div>
       <div class="left_explain_location" style="position: absolute; top: 665px" >길이는 숏보드 보다 짧지만<br>넓이, 두께는 그 보다 더 <span>넓고 두껍</span>습니다.</div>

       <div class="explain_navigation short_border_color Right" style="left: 960px;top: 900px">
            <div class="explain_line_triangle" style="left: -7px;z-index: -1;"></div>
        </div>
        <div class="what_is Short" style="top: 872px"><a href="shortBoard.html">숏보드란?</a></div>
    </div>

    <div class="Board_introduction Question">
        <div class="middle_line fish_border_color line_height"></div>
        <img src="../static/src/img/thinking_guy.png">
        <div class="Question_line">그럼 <span>테이크 오프</span>가 편하겠군요.</div>
        <div class="Thats_Right" style="background-color: #F5F7F6">그렇습니다!</div>
        <div style="background-color: #F5F7F6">그렇기에 최근 가장 많은 서퍼들이 사용하는 보드 중 하나입니다.</div>
    </div>

    <div class="Board_introduction Last_info">
        <div class="middle_line_justify">
            <div class="middle_line fish_border_color line_height"></div>
        </div>

        <div class="explain_line fish_border_color Left" style="top: 100px">
            <div class="explain_line_square_rotate"></div>
        </div>
        <div class="left_explain_location" style="top: 65px">볼륨이 많은 만큼<br>낮은 파도에서 최적의 효과를 냅니다.</div>

        <div class="explain_line fish_border_color Right" style="top: 300px">
            <div class="explain_line_square_rotate"></div>
        </div>
        <div class="right_explain_location" style="top: 265px">최근엔 여러 모양의 Tail을 사용하며 <br>하이브리드라는 이름으로도 불립니다.</div>

        <div class="explain_line fish_border_color Left" style="top: 700px">
            <div class="explain_line_square_rotate"></div>
        </div>
        <div class="left_explain_location" style="top: 665px">당신만의 돌고래를 만나세요<br><span>보드와 함께 하모니를</span></div>
    </div>

    <div class="Board_introduction Ending_pic">
        <div class="middle_line_justify">
            <div class="middle_line fish_border_color line_height_ending"></div>
            <div class="pageShape" style="border-color: #112386; transform: rotate(45deg); top: 604px;"></div>
        </div>
        <img style="top: 0px; filter: drop-shadow(-4px 4px 4px #BDBDBD); height: 300px" src="../static/src/img/dolphine.png">
        <div class="pageIcon" style="background-color:#F5F5F7">
            <img  src="../static/src/img/Icon.png">
        </div>
    </div>

    <div class="footer">
        <div>
            <p>+82 10-4338-0887</p>
            <p>경기 안산시 상록구 한양대학로 55 한양대학교 에리카캠퍼스</p>
        </div>
        <div>
            <p><span >보드와 함께 서피</span></p>
            <p><a href="https://www.facebook.com" target="_blank">Facebook</a></p>
            <p><a href="https://www.instagram.com" target="_blank">Instagram</a></p>
        </div>
    </div>

</body>
</html>