<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>서피 피쉬보드</title>
    <link rel="stylesheet" href="../static/src/style/header_footer.css">
    <link rel="stylesheet" href="../static/src/style/introduction.css">
    <link rel="stylesheet" href="../static/src/style/main_page.css">
    <link rel="stylesheet" href="../static/src/style/setup.css">
    <link rel="stylesheet" href="../static/src/style/src_miniBoard.css">
    <link rel="stylesheet" href="../static/src/style/src_longBoard.css">
    <link rel="stylesheet" href="../static/src/style/src_fishBoard.css">
    <style>
        body{
            background-color: #F5F5F7;
            color: #353B44;
        }
        .footer{background-color: white}
    </style>
</head>
<body>

    <div class="pageHeader">
        <a href="longBoard.html" class="pageHeaderLongboard">롱보드</a>
        <a href="miniBoard.html" class="pageHeaderMiniboard">미니 말</a>
        <a href="main.html" class="pageIcon"><img src="../static/src/img/Icon.png"></a>
        <a href="shortBoard.html" class="pageHeaderShortboard">숏보드</a>
        <a href="fishBoard.html" class="pageHeaderFishboard" style="color: gray">피쉬보드</a>
    </div>

    <div class="Board_introduction start">
        <div class="pageShape" style="border-color: #112386; transform: rotate(45deg); top: 698px;"></div>
        <div class="middle_line introduction_line fish_border_color"></div>
         <div class="life_quote">
            <p><span>피쉬보드</span>는 돌고래와 서핑하는 것과 같다.</p>
            <p>- 켈리 슬레이터 -</p>
         </div>
        <div class="boardpic_letter_wrap">
            <img style="height: 450px" src="../static/src/img/fish_board.png">
            <div class="Board_keywords" style="background-color: #F5F5F7;">
                <p>피쉬보드를 키워드로 나타내면</p>
                <p>하모니, 리듬, 혁신 입니다.</p>
            </div>
        </div>
    </div>

    <div class="Board_introduction Lyrics">
        <div class="middle_line line_height fish_border_color"></div>
        <div class="lyrics_line" style="top: 474px; left: 400px">돌고래와 함께 즐겨봐요.</div>
        <img id="fish_lyrics_pic" src="../static/src/img/dolphine.png">
        <div class="shall_we_start">그럼 시작해 볼까요?</div>
    </div>

    <div class="Board_introduction NoseTail" style="align-items: center">
        <div class="middle_line fish_border_color line_height"></div>
        <div class="fish_nosetail_wrap Fish"></div>
        <img id="fish_board_nose_pic" src="../static/src/img/fishboard_nose.png">
        <div class="explain_line fish_border_color Right" style="top: 870px">
            <div class="Fish explain_line_square_rotate"></div>
        </div>
        <div class="right_explain_location" style="top: 835px">피쉬보드의 Nose는 숏보드처럼<br>날카롭지만 그에 비해 훨씬 <span>넓어</span>요.</div>
    </div>

</body>
</html>