<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="../static/src/img/Icon.png"/>
    <title>보드와 함께 서피</title>
    <link rel="stylesheet" href="../static/src/style/main_page.css">
    <link rel="stylesheet" href="../static/src/style/header_footer.css">
    <link rel="stylesheet" href="../static/src/style/setup.css">
    <style>
        body a{
            text-decoration: none;
            display: block;
            color: black;
        }
        body a:visited{
            color: black;
        }
    </style>
</head>
<body>
    <div class="pageHeader">
        <a href="longBoard.html" class="pageHeaderLongboard">롱보드</a>
        <a href="miniBoard.html" class="pageHeaderMiniboard">미니 말</a>
        <a href="index.html" class="pageIcon"><img src="../static/src/img/Icon.png"></a>
        <a href="shortBoard.html" class="pageHeaderShortboard">숏보드</a>
        <a href="fishBoard.html" class="pageHeaderFishboard">피쉬보드</a>
    </div>

    <div class="mainPage_poster">
        <div id="mainPage_poster_left">
            <div id="mainPage_poster_left_above_letter">
                <p><span>서피</span>와</p>
                <p>최적의 보드를</p>
            </div>
            <div id="mainPage_poster_left_below_icon">
                <img align="right" src="../static/src/img/Icon.png">
            </div>
        </div>
        <div id="mainPage_poster_right"><img src="../static/src/img/main_page_surfboard_side.png"></div>
    </div>
    <div class="mainPage_arrow">
        <i id="mainPage_arrow_icon"></i>
    </div>

    <div class="mainPage_navigate">
        <div id="opening_statement">만나보세요.</div>
        <div class="types_navigate">
            <a href="longBoard.html">
                롱보드
            </a>
            <a href="miniBoard.html">
                미니 말리부
            </a>
            <a href="shortBoard.html">
                숏보드
            </a>
            <a href="fishBoard.html">
                피쉬보드
            </a>
        </div>
    </div>

    <div class="footer">
        <div>
            <p>+82 10-4338-0887</p>
            <p>경기 안산시 상록구 한양대학로 55 한양대학교 에리카캠퍼스</p>
        </div>
        <div>
            <p><span >보드와 함께 서피</span></p>
            <p><a href="https://www.facebook.com" target="_blank">Facebook</a></p>
            <p><a href="https://www.instagram.com" target="_blank">Instagram</a></p>
        </div>
    </div>

</body>
</html>