<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>서피 롱보드</title>
    <link rel="stylesheet" href="../static/src/style/main_page.css">
    <link rel="stylesheet" href="../static/src/style/introduction.css">
    <link rel="stylesheet" href="../static/src/style/setup.css">
    <link rel="stylesheet" href="../static/src/style/header_footer.css">
    <style>
        body {background-color: #F5F7F6; color: #2E302E;}
        .footer {background-color: white}
    </style>
</head>
<body>

    <div class="pageHeader">
        <a href="" class="pageHeaderLongboard" style="color: gray">롱보드</a>
        <a href="" class="pageHeaderMiniboard">미니 말</a>
        <a href="" class="pageIcon"><img src="../static/src/img/Icon.png"></a>
        <a href="" class="pageHeaderShortboard">숏보드</a>
        <a href="" class="pageHeaderFishboard">피쉬보드</a>
    </div>

    <div class="Board_introduction LongBoard_start">
        <div class="pageShape" style="border-color: #49705C"></div>
        <div class="middle_line longboard_introduction_line longboard_border_color"></div>
         <div class="life_quote">
            <p><span>롱보드</span>와 서핑은 고결한 춤과 같다.</p>
            <p>- 게리 로페즈 -</p>
         </div>
        <div class="boardpic_letter_wrap">
            <img style="height: 500px" src="../static/src/img/LongBoard_.png">
            <div class="Board_keywords" style="background-color: #F5F7F6;">
                <p>롱보드를 키워드로 나타내면</p>
                <p>편안, 고정, 쉬움 입니다.</p>
            </div>
        </div>
    </div>


    <div class="Board_introduction Lyrics">
        <div class="middle_line line_height longboard_border_color"></div>
        <div class="lyrics_line">마치 하나의 춤과 같이  말이죠.</div>
        <img class="lyrics_img Ballet" style="left: 665px;" src="../static/src/img/ballet_girl.png">
        <div class="shall_we_start">그럼 시작해 볼까요?</div>
    </div>

    <div class="Board_introduction NoseTail">
        <div class="middle_line_justify">
            <div class="middle_line longboard_border_color line_height" style="width: 1080px"></div>
        </div>
        <div class="explain_line longboard_border_color Right" style="top: 285px">
            <div class="Longboard explain_line_square"></div>
        </div>
        <div class="explain_line longboard_border_color Left" style="top: 585px">
            <div class="Longboard explain_line_square"></div>
        </div>
        <div class="horizon">
            <div class="left_explain_location" >롱보드의 Nose는 넓고 둥급니다.<br>긴 시간 동안 안정적으로 서핑하는데 도움을 줍니다.</div>
            <img id="Nose_pic_location" src="../static/src/img/Long_nose.png">
        </div>
        <div class="horizon row_reverse">
            <div class="right_explain_location" >반면, 롱보드의 Tail은 좁고 뾰족합니다.<br>보드를 조종하고 방향을 바꾸는데 중요한 역할을 합니다.</div>
            <img id="Tail_pic_location" class="" src="../static/src/img/Long_tail.png">
        </div>
    </div>

    <div class="Board_introduction Measure">
        <div class="middle_line_justify">
            <div class="middle_line longboard_border_color line_height"></div>
        </div>
        <div class="surfboard_length_measure_pictures">
            <img src="../static/src/img/guy_with_yellow_surfboard.png">
            <img src="../static/src/img/LongBoard_.png">
        </div>
        <div class="surfboard_length_measure_line" id="longboard_measure_line"></div>
        <div class="surfboard_length_measure_foot" id="longboard_measure_foot">9피트</div>
        <div class="explain_line longboard_border_color Right" style="top: 230px">
            <div class="Longboard explain_line_square"></div>
        </div>
        <div class="explain_line longboard_border_color Right" style="top: 700px">
            <div class="Longboard explain_line_square"></div>
        </div>
        <div class="left_explain_location" style="position: absolute; top: 195px" >대개 <span>9피트</span>를 넘는 보드를 롱보드라 하며<br>길이와 넓이, 두께 모두 서퍼의 기호에 따라 변합니다.</div>
        <div class="left_explain_location" style="position: absolute; top: 665px" >크기가 크고 볼륨이 많아<br>패들링, 테이크 오프 등이 가장 <span>쉬운편에</span> 속합니다.</div>
    </div>

    <div class="Board_introduction Question">
        <div class="middle_line longboard_border_color line_height"></div>
        <img src="../static/src/img/thinking_guy.png">
        <div class="Thats_Right" style="background-color: #F5F7F6">그렇습니다!</div>
        <div style="background-color: #F5F7F6">다만, 초보자 뿐만아닌 몸이 불편하신 노년 서퍼들도 주로 사용합니다.</div>
        <div class="Question_line">그럼 서핑을 처음 배우는 초보자에게 좋겠군요.</div>
    </div>

    <div class="Board_introduction Last_info">
        <div class="middle_line_justify">
            <div class="middle_line longboard_border_color line_height"></div>
        </div>

        <div class="explain_line longboard_border_color Right" style="top: 100px">
            <div class="Longboard explain_line_square"></div>
        </div>
        <div class="left_explain_location" style="top: 65px">이러한 큰 크기라는 특징은<br>또한 작은 파도라도 테이크 오프하기 쉽게 만들어 줍니다.</div>

        <div class="explain_line longboard_border_color Left" style="top: 300px">
            <div class="Longboard explain_line_square"></div>
        </div>
        <div class="right_explain_location" style="top: 265px">주의할 점은 그만큼이나<br>파도에 휩쓸릴 가능성이 높습니다.</div>

        <div class="explain_line longboard_border_color Right" style="top: 500px">
            <div class="Longboard explain_line_square"></div>
        </div>
        <div class="left_explain_location" style="top: 465px">익숙해 지면 한 걸음 내딛어 봐요<br><span>보드와 함께 발레를</span></div>
    </div>

    <div class="Board_introduction Ending_pic">
        <div class="middle_line_justify">
            <div class="middle_line longboard_border_color line_height_ending"></div>
            <div class="pageShape" style="top: 600px; border-color: #49705C"></div>
        </div>
        <img class="Ballet" src="../static/src/img/ballet_girl.png">
        <div class="pageIcon" style="background-color:#F5F7F6">
            <img  src="../static/src/img/Icon.png">
        </div>
    </div>

    <div class="footer">
        <div>
            <p>+82 10-4338-0887</p>
            <p>경기 안산시 상록구 한양대학로 55 한양대학교 에리카캠퍼스</p>
        </div>
        <div>
            <p><span >보드와 함께 서피</span></p>
            <p>Facebook</p>
            <p>Instagram</p>
        </div>
    </div>

</body>
</html>