<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>롱보드에 대해</title>
    <link rel="stylesheet" href="../static/src/style/main_page.css">
    <link rel="stylesheet" href="../static/src/style/introduction.css">
</head>
<body>

    <div class="pageHeader">
        <a href="" class="pageHeaderLongboard" style="color: gray">롱보드</a>
        <a href="" class="pageHeaderMiniboard">미니 말</a>
        <a href="" class="pageIcon"><img src="../static/src/img/Icon.png"></a>
        <a href="" class="pageHeaderShortboard">숏보드</a>
        <a href="" class="pageHeaderFishboard">피쉬보드</a>
    </div>

    <div class="Board_introduction">
         <div class="life_quote">
            <p><span>롱보드</span>와 서핑은 고결한 춤과 같다.</p>
            <p>- 게리 로페즈 -</p>
         </div>
        <div class="boardpic_letter_wrap">
            <img class="introduction_board" src="../static/src/img/LongBoard_.png">
            <div class="explain_letter_set" style="text-align: center">
                <p>롱보드를 키워드로 나타내면</p>
                <p>편안, 고정, 쉬움 입니다.</p>
            </div>
        </div>
    </div>

</body>
</html>