<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보드와 함께 서피</title>
    <link rel="stylesheet" href="../static/src/style/main_page.css">
</head>
<body>
    <div class="pageHeader">
        <a href="" class="pageHeaderLongboard">롱보드</a>
        <a href="" class="pageHeaderMiniboard">미니 말</a>
        <a href="" class="pageIcon"><img src="../static/src/img/Icon.png"></a>
        <a href="" class="pageHeaderShortboard">숏보드</a>
        <a href="" class="pageHeaderFishboard">피쉬보드</a>
    </div>

    <div class="mainPage_poster">
        <div id="mainPage_poster_left">
            <div id="mainPage_poster_left_above_letter">
                <p><span>서피</span>와</p>
                <p>최적의 보드를</p>
            </div>
            <div id="mainPage_poster_left_below_icon">
                <img align="right" src="../static/src/img/Icon.png">
            </div>
        </div>
        <div id="mainPage_poster_right"><img src="../static/src/img/main_page_surfboard_side.png"></div>
    </div>
    <div class="mainPage_arrow">
        <i id="mainPage_arrow_icon"></i>
    </div>

    <div class="mainPage_navigate">
        <div id="opening_statement">만나보세요.</div>
        <div class="types_navigate">
            <a href="">
                롱보드
            </a>
            <a href="">
                미니 말리부
            </a>
            <a href="">
                숏보드
            </a>
            <a href="">
                피쉬보드
            </a>
        </div>
    </div>

    <div class="footer">
        <div>
            <p>+82 10-4338-0887</p>
            <p>경기 안산시 상록구 한양대학로 55 한양대학교 에리카캠퍼스</p>
        </div>
        <div>
            <p><span >보드와 함께 서피</span></p>
            <p>Facebook</p>
            <p>Instagram</p>
        </div>
    </div>

</body>
</html>