<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllA</title>
    <link rel="stylesheet" href="../static/src/style/main_page.css">
</head>
<body>
    <div class="pageHeader">
        <div class="pageHeaderLongboard">롱보드</div>
        <div class="pageHeaderMiniboard">미니 말</div>
        <div class="pageIcon"><img src="../static/src/img/Icon.png"></div>
        <div class="pageHeaderShortboard">숏보드</div>
        <div class="pageHeaderFishboard">피쉬보드</div>
    </div>

    <div class="mainPage_first">
        <div id="mainPage_first_left">
            <div id="mainPage_first_left_above_letter">
                <p>서피와</p>
                <p>최적의 보드를</p>
            </div>
            <div>
                <img src="../static/src/img/Icon.png">
            </div>
        </div>
        <div id="mainPage_first_right"><img src="../static/src/img/main_page_surfboard_side.png"></div>
    </div>
    <div class="mainPage_arrow">
        <div></div>
    </div>

</body>
</html>