<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="../static/src/img/Icon.png"/>
    <title>서피 미니 말</title>
    <link rel="stylesheet" href="../static/src/style/header_footer.css">
    <link rel="stylesheet" href="../static/src/style/introduction.css">
    <link rel="stylesheet" href="../static/src/style/main_page.css">
    <link rel="stylesheet" href="../static/src/style/setup.css">
    <link rel="stylesheet" href="../static/src/style/src_miniBoard.css">
    <link rel="stylesheet" href="../static/src/style/src_longBoard.css">
    <link rel="stylesheet" href="../static/src/style/src_shortBoard.css">
    <style>
        body {background-color: #F7F7F5; color: #2E302E;}
        .footer {background-color: white}
    </style>
</head>
<body>
    <div class="pageHeader">
        <a href="longBoard.html" class="pageHeaderLongboard">롱보드</a>
        <a href="miniBoard.html" class="pageHeaderMiniboard" style="color: gray">미니 말</a>
        <a href="index.html" class="pageIcon"><img src="../static/src/img/Icon.png"></a>
        <a href="shortBoard.html" class="pageHeaderShortboard">숏보드</a>
        <a href="fishBoard.html" class="pageHeaderFishboard">피쉬보드</a>
    </div>

    <div class="Board_introduction start">
        <div class="pageShape" style="border-color: #848611; border-radius: 50%"></div>
        <div class="middle_line introduction_line mini_border_color"></div>
         <div class="life_quote">
            <p><span>미니 말</span>은 순간에 존재하며 자신을 믿는 균형이다.</p>
            <p>- 레어드 해밀턴 -</p>
         </div>
        <div class="boardpic_letter_wrap">
            <img style="height: 500px" src="../static/src/img/mini_board.png">
            <div class="Board_keywords" style="background-color: #F7F7F5;">
                <p>미니 말을 키워드로 나타내면</p>
                <p>모던, 현대, 중간 입니다.</p>
            </div>
        </div>
    </div>

    <div class="Board_introduction Lyrics">
        <div class="middle_line line_height mini_border_color"></div>
        <div class="lyrics_line" style="top: 474px; left: 1300px">굴곡의 미학을 느껴보세요.</div>
        <img id="mini_lyrics_pic" src="../static/src/img/walking_black_guy_with_white_background.png">
        <div class="shall_we_start">그럼 시작해 볼까요?</div>
    </div>

    <div class="Board_introduction NoseTail">
        <div class="middle_line_justify">
            <div class="middle_line mini_border_color line_height" style="width: 1080px"></div>
        </div>
        <div class="explain_line mini_border_color Right" style="top: 290px">
            <div class="explain_line_circle"></div>
        </div>
        <div class="explain_line mini_border_color Right" style="top: 790px">
            <div class="explain_line_circle"></div>
        </div>
        <div class="horizon">
            <div class="right_explain_location" style="top: 255px">미니 말은 미니 말리부의 줄임말이며<br>주로 롱보드의 <span>작은 버전</span>이라고 합니다.</div>
            <img id="mini_Nose_pic_location" src="../static/src/img/mini_tail.png">
        </div>
        <div class="horizon row_reverse">
            <div class="right_explain_location" style="top: 755px">보드의 양 끝부분이 <span>둥근</span> 것이 특징이며<br>주로 Tail로 불리는 뒷 부분이 더 좁습니다.</div>
            <img id="mini_Tail_pic_location" class="" src="../static/src/img/mini_nose.png">
        </div>
    </div>

    <div class="Board_introduction Measure">
        <div class="middle_line_justify">
            <div class="middle_line mini_border_color line_height"></div>
        </div>
        <div class="surfboard_length_measure_pictures">
            <img src="../static/src/img/guy_with_yellow_surfboard.png">
            <img src="../static/src/img/mini_board.png" style="height: 250px">
        </div>
        <div class="surfboard_length_measure_line" id="mini_measure_line"></div>
        <div class="surfboard_length_measure_foot" id="mini_measure_foot">7피트</div>
        <div class="explain_line mini_border_color Left" style="top: 430px">
            <div class="Mini explain_line_circle"></div>
        </div>
        <div class="left_explain_location" style="top: 395px" >대개 <span>9피트</span>를 넘는 보드를 롱보드라 하며<br>길이와 넓이, 두께 모두 서퍼의 기호에 따라 변합니다.</div>
    </div>

    <div class="Board_introduction" style="justify-content: center">
        <div class="middle_line mini_border_color line_height"></div>
        <div id="explain_more_info_circle">
            <img src="../static/src/img/LongBoard_.png">
            <img src="../static/src/img/mini_board.png">
        </div>
        <div class="explain_line mini_border_color Left" style="top: 300px; left:400px">
            <div class="Mini explain_line_circle"></div>
        </div>
        <div class="explain_line mini_border_color Right" style="top: 300px; right:400px">
            <div class="Mini explain_line_circle"></div>
        </div>
        <div class="left_explain_location" style="top: 265px; left:75px;" >대체적으로 <span>롱보드</span>와 비슷하며<br>조금 더 모던하고 현대적이라는 것이 특징입니다.</div>
        <div class="right_explain_location" style="top: 265px; right:75px;" >허나, <span>롱보드</span>에 비해 작은 볼륨과 부피는<br>보다 더 빠른 방향전환과 높은 기동성 만듭니다. </div>

        <div class="explain_navigation longboard_border_color Right" style="left: 960px;top: 800px">
            <div class="LongBoard explain_line_square"></div>
        </div>
        <div class="what_is LongBoard" style="top: 772px"><a href="longBoard.html">롱보드란?</a></div>
    </div>

    <div class="Board_introduction Question">
        <div class="middle_line mini_border_color line_height"></div>
        <img src="../static/src/img/thinking_guy.png">
        <div class="Question_line">그럼 롱보드와 숏보드 그 <span>중간</span>이겠군요.</div>
        <div class="Thats_Right" style="background-color: #F7F7F5">그렇습니다!</div>
        <div style="background-color: #F7F7F5">다만, 조금 더 롱보드에 치우친 쪽이 됩니다.</div>

        <div class="explain_navigation short_border_color Right" style="left: 960px;top: 400px">
            <div class="explain_line_triangle" style="left: -7px;z-index: -1;"></div>
        </div>
        <div class="what_is Short" style="top: 367px"><a href="shortBoard.html">숏보드란?</a></div>

    </div>

    <div class="Board_introduction Last_info">
        <div class="middle_line_justify">
            <div class="middle_line mini_border_color line_height"></div>
        </div>

        <div class="explain_line mini_border_color Left" style="top: 100px">
            <div class="Longboard explain_line_circle"></div>
        </div>
        <div class="left_explain_location" style="top: 65px">롱보드에 비해 가볍고 작지만<br>숏보드와 같이 역동적인 터닝 기술은 어렵습니다.</div>

        <div class="explain_line mini_border_color Right" style="top: 300px">
            <div class="Longboard explain_line_circle"></div>
        </div>
        <div class="right_explain_location" style="top: 265px">이러한 특징은 초보자에게 적합하며 <br>실제로 굉장히 많은 서퍼들이 미니 말로 시작합니다.</div>

        <div class="explain_line mini_border_color Left" style="top: 500px">
            <div class="Longboard explain_line_circle"></div>
        </div>
        <div class="left_explain_location" style="top: 465px">또한, 미니 말은 펀 보드, 미드-랭스 등 <br>많은 이름이 있습니다.</div>

        <div class="explain_line mini_border_color Right" style="top: 700px">
            <div class="Longboard explain_line_circle"></div>
        </div>
        <div class="right_explain_location" style="top: 665px">턴을 연습해 보아요<br><span>보드와 함께 우리의 미학을</span></div>
    </div>

    <div class="Board_introduction Ending_pic">
        <div class="middle_line_justify">
            <div class="middle_line mini_border_color line_height_ending"></div>
            <div class="pageShape" style="top: 600px; border-color: #848611"></div>
        </div>
        <img style="left: 643px; height: 1000px; top: -500px" src="../static/src/img/walking_blackguy.png">
        <div class="pageIcon" style="background-color:#F5F7F6">
            <a href="index.html" style="display: flex; align-items: center; justify-content: center"><img  src="../static/src/img/Icon.png"></a>
        </div>
    </div>

    <div class="footer">
        <div>
            <p>+82 10-4338-0887</p>
            <p>경기 안산시 상록구 한양대학로 55 한양대학교 에리카캠퍼스</p>
        </div>
        <div>
            <p><span >보드와 함께 서피</span></p>
            <p><a href="https://www.facebook.com" target="_blank">Facebook</a></p>
            <p><a href="https://www.instagram.com" target="_blank">Instagram</a></p>
        </div>
    </div>

</body>
</html>