<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>서피 숏보드</title>
    <link rel="stylesheet" href="../static/src/style/header_footer.css">
    <link rel="stylesheet" href="../static/src/style/introduction.css">
    <link rel="stylesheet" href="../static/src/style/main_page.css">
    <link rel="stylesheet" href="../static/src/style/setup.css">
    <link rel="stylesheet" href="../static/src/style/src_miniBoard.css">
    <link rel="stylesheet" href="../static/src/style/src_longBoard.css">
    <link rel="stylesheet" href="../static/src/style/src_shortBoard.css">

    <style>
        body{background-color: #F7F5F5; color: #372C2C;}
        .footer {background-color: white}
    </style>
</head>
<body>

    <div class="pageHeader">
        <a href="" class="pageHeaderLongboard">롱보드</a>
        <a href="" class="pageHeaderMiniboard">미니 말</a>
        <a href="" class="pageIcon"><img src="../static/src/img/Icon.png"></a>
        <a href="" class="pageHeaderShortboard" style="color: gray">숏보드</a>
        <a href="" class="pageHeaderFishboard">피쉬보드</a>
    </div>

    <div class="Board_introduction start">
        <div class="shortBoard_triangle" style="top: 705px"></div>
        <div class="shortBoard_triangle_white" style="top: 706px"></div>
        <div class="middle_line short_introduction_line short_border_color"></div>
         <div class="life_quote">
             <p>나는 <span>숏보드</span>를 타며 날 수 있다.</p>
            <p>- 제프 학만 -</p>
         </div>
        <div class="boardpic_letter_wrap">
            <img style="height: 430px" src="../static/src/img/short_board.png">
            <div class="Board_keywords" style="background-color: #F7F5F5;">
                <p>숏보드를 키워드로 나타내면</p>
                <p>속도, 날카로움, 자유 입니다.</p>
            </div>
        </div>
    </div>

    <div class="Board_introduction Lyrics">
        <div class="middle_line line_height short_border_color"></div>
        <div class="lyrics_line" style="top: 474px; left: 1400px">한마리의 독수리와 같이요.</div>
        <img id="short_lyrics_pic" src="../static/src/img/eagle.png">
        <div class="shall_we_start">그럼 시작해 볼까요?</div>
    </div>

    <div class="Board_introduction NoseTail" style="align-items: center">
        <div class="middle_line short_border_color line_height"></div>
        <div class="shortBoard_triangle_nosetail" style="top: -300px"></div>
        <div class="shortBoard_triangle_nosetail_white" style="top: -292px"></div>
        <img id="shortboard_nose_pic" src="../static/src/img/shortboard_nose.png">

        <div class="explain_line short_border_color Left" style="top: 870px">
            <div class="Short explain_line_triangle"></div>
        </div>
        <div class="left_explain_location" style="top: 835px">롱보드에 비해 가볍고 작지만<br>숏보드와 같이 역동적인 터닝 기술은 어렵습니다.</div>
    </div>
    <div class="Board_introduction NoseTail" style="align-items: center">
        <div class="middle_line short_border_color line_height"></div>
        <div class="shortBoard_triangle_nosetail" style="top: 300px; transform: rotate(180deg)"></div>
        <div class="shortBoard_triangle_nosetail_white" style="top: 302px; transform: rotate(180deg)"></div>
        <img id="shortboard_tail_pic" style="top: 302px" src="../static/src/img/shortboard_tail.png">

        <div class="explain_line short_border_color Left" style="top: 870px">
            <div class="Short explain_line_triangle"></div>
        </div>
        <div class="left_explain_location" style="top: 835px">롱보드에 비해 가볍고 작지만<br>숏보드와 같이 역동적인 터닝 기술은 어렵습니다.</div>
    </div>

    <div class="Board_introduction Measure">
        <div class="middle_line_justify">
            <div class="middle_line short_border_color line_height"></div>
        </div>
        <div class="surfboard_length_measure_pictures" style="left: 300px">
            <img src="../static/src/img/guy_with_yellow_surfboard.png">
            <img src="../static/src/img/short_board.png" style="height: 200px">
        </div>
        <div class="surfboard_length_measure_line" id="short_measure_line"></div>
        <div class="surfboard_length_measure_foot" id="short_measure_foot">6피트</div>

        <div class="explain_line short_border_color Right" style="top: 430px">
            <div class=" explain_line_triangle"></div>
        </div>
        <div class="right_explain_location" style="top: 395px" >숏보드는 대략 <span>6피트</span> 정도이며 길이와 넓이, 두께 모두 서퍼의 기호에 따라 변합니다.</div>


    </div>


</body>
</html>