<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/src/img/Icon.png"/>
    <title>서피 숏보드</title>
    <link rel="stylesheet" href="../static/src/style/header_footer.css">
    <link rel="stylesheet" href="../static/src/style/introduction.css">
    <link rel="stylesheet" href="../static/src/style/main_page.css">
    <link rel="stylesheet" href="../static/src/style/setup.css">
    <link rel="stylesheet" href="../static/src/style/src_longBoard.css">
    <link rel="stylesheet" href="../static/src/style/src_miniBoard.css">
    <link rel="stylesheet" href="../static/src/style/src_shortBoard.css">

    <style>
        body{background-color: #F7F5F5; color: #372C2C;}
        .footer {background-color: white}
    </style>
</head>
<body>

    <div class="pageHeader">
        <a href="longBoard.html" class="pageHeaderLongboard">롱보드</a>
        <a href="miniBoard.html" class="pageHeaderMiniboard">미니 말</a>
        <a href="index.html" class="pageIcon"><img src="../static/src/img/Icon.png"></a>
        <a href="shortBoard.html" class="pageHeaderShortboard" style="color: gray">숏보드</a>
        <a href="fishBoard.html" class="pageHeaderFishboard">피쉬보드</a>
    </div>

    <div class="Board_introduction start">
        <div class="shortBoard_triangle" style="top: 705px"></div>
        <div class="shortBoard_triangle_white" style="top: 706px"></div>
        <div class="middle_line introduction_line short_border_color"></div>
         <div class="life_quote">
             <p>나는 <span>숏보드</span>를 타며 날 수 있다.</p>
            <p>- 제프 학만 -</p>
         </div>
        <div class="boardpic_letter_wrap">
            <img style="height: 430px" src="../static/src/img/short_board.png">
            <div class="Board_keywords" style="background-color: #F7F5F5;">
                <p>숏보드를 키워드로 나타내면</p>
                <p>속도, 날카로움, 자유 입니다.</p>
            </div>
        </div>
    </div>

    <div class="Board_introduction Lyrics">
        <div class="middle_line line_height short_border_color"></div>
        <div class="lyrics_line" style="top: 474px; left: 1400px">한마리의 독수리와 같이요.</div>
        <img id="short_lyrics_pic" src="../static/src/img/eagle.png">
        <div class="shall_we_start">그럼 시작해 볼까요?</div>
    </div>

    <div class="Board_introduction NoseTail" style="align-items: center">
        <div class="middle_line short_border_color line_height"></div>
        <div class="shortBoard_triangle_nosetail" style="top: -300px"></div>
        <div class="shortBoard_triangle_nosetail_white" style="top: -292px"></div>
        <img id="shortboard_nose_pic" src="../static/src/img/shortboard_nose.png">

        <div class="explain_line short_border_color Left" style="top: 870px">
            <div class="explain_line_triangle"></div>
        </div>
        <div class="left_explain_location" style="top: 835px">롱보드에 비해 가볍고 작지만<br>숏보드와 같이 역동적인 터닝 기술은 어렵습니다.</div>
    </div>

    <div class="Board_introduction NoseTail" style="align-items: center">
        <div class="middle_line short_border_color line_height"></div>
        <div class="shortBoard_triangle_nosetail" style="top: 300px; transform: rotate(180deg)"></div>
        <div class="shortBoard_triangle_nosetail_white" style="top: 302px; transform: rotate(180deg)"></div>
        <img id="shortboard_tail_pic" style="top: 302px" src="../static/src/img/shortboard_tail.png">

        <div class="explain_line short_border_color Left" style="top: 870px">
            <div class="explain_line_triangle"></div>
        </div>
        <div class="left_explain_location" style="top: 835px">롱보드에 비해 가볍고 작지만<br>숏보드와 같이 역동적인 터닝 기술은 어렵습니다.</div>
    </div>

    <div class="Board_introduction Measure">
        <div class="middle_line_justify">
            <div class="middle_line short_border_color line_height"></div>
        </div>
        <div class="surfboard_length_measure_pictures" style="left: 300px">
            <img src="../static/src/img/guy_with_yellow_surfboard.png">
            <img src="../static/src/img/short_board.png" style="height: 200px">
        </div>
        <div class="surfboard_length_measure_line" id="short_measure_line"></div>
        <div class="surfboard_length_measure_foot" id="short_measure_foot">6피트</div>

        <div class="explain_line short_border_color Right" style="top: 330px">
            <div class=" explain_line_triangle"></div>
        </div>
        <div class="right_explain_location" style="top: 295px" >숏보드는 대략 <span>6피트</span> 정도이며 길이와 넓이, 두께 모두 서퍼의 기호에 따라 변합니다.</div>

        <div class="explain_line short_border_color Right" style="top: 630px">
            <div class=" explain_line_triangle"></div>
        </div>
        <div class="right_explain_location" style="top: 595px" >롱보드와 달리 길이, 넓이, 두께 등<br>전부 <span>짧고, 좁고, 얇다</span>는 것이 특징입니다.</div>


        <div class="explain_navigation longboard_border_color Right" style="left: 960px;top: 830px">
            <div class="LongBoard explain_line_square"></div>
        </div>
        <div class="what_is LongBoard" style="top: 802px"><a href="longBoard.html">롱보드란?</a></div>
    </div>

    <div class="Board_introduction" id="flying_surfer">
        <div class="middle_line short_border_color line_height"></div>
        <div class="explain_line short_border_color Left" style="top: 330px">
            <div class=" explain_line_triangle"></div>
        </div>
        <div class="left_explain_location" style="top: 295px" >이렇듯 작고 가볍다는 특징은<br>다양한 서핑 스타일을 즐길 수 있으며 <span>자유</span>롭습니다.</div>

        <div class="explain_line short_border_color Left" style="top: 660px">
            <div class=" explain_line_triangle"></div>
        </div>
        <div class="left_explain_location" style="top: 625px" >높은 자유도 만큼이나<br>그 <span>인기</span>도 서핑보드 중 가장 많습니다.</div>
        <img src="../static/src/img/flying_surfer.png">
    </div>

    <div class="Board_introduction Question">
        <div class="middle_line short_border_color line_height"></div>
        <img src="../static/src/img/thinking_guy.png">
        <div class="Question_line">그럼 작은 만큼 <span>난이도</span>가 어렵겠군요.</div>
        <div class="Thats_Right" style="background-color: #F7F5F5">그렇습니다!</div>
        <div style="background-color: #F7F5F5">그만큼 서퍼들이 가장 아끼는 보드이기도 합니다.</div>
    </div>

    <div class="Board_introduction Last_info">
        <div class="middle_line_justify">
            <div class="middle_line short_border_color line_height"></div>
        </div>

        <div class="explain_line short_border_color Left" style="top: 100px">
            <div class="explain_line_triangle"></div>
        </div>
        <div class="left_explain_location" style="top: 65px">실제 대회에서<br>숏보드 대회가 가장 인기가 많습니다.</div>

        <div class="explain_line short_border_color Right" style="top: 300px">
            <div class="explain_line_triangle"></div>
        </div>
        <div class="right_explain_location" style="top: 265px">사진과 같이 턴을 하며 물을 튀기는 <br>스프레이 턴 기술이 서퍼들의 사냥감입니다.</div>

        <div class="explain_line short_border_color Right" style="top: 700px">
            <div class="explain_line_triangle"></div>
        </div>
        <div class="right_explain_location" style="top: 665px">한 마리의 자유로운 새처럼<br><span>보드와 함께 사냥을</span></div>

        <img id="last_info_turning_guy" src="../static/src/img/turning_guy.png">
    </div>

    <div class="Board_introduction Ending_pic">
        <div class="middle_line_justify">
            <div class="middle_line short_border_color line_height_ending"></div>
            <div class="shortBoard_triangle" style="transform: rotate(180deg); top: 582px"></div>
            <div class="shortBoard_triangle_white" style="transform: rotate(180deg); top: 587px"></div>
        </div>
        <img style="top: 0px; filter: drop-shadow(-4px 4px 4px #BDBDBD); height: 300px" src="../static/src/img/eagle.png">
        <div class="pageIcon" style="background-color:#F7F5F5">
            <img  src="../static/src/img/Icon.png">
        </div>
    </div>

    <div class="footer">
        <div>
            <p>+82 10-4338-0887</p>
            <p>경기 안산시 상록구 한양대학로 55 한양대학교 에리카캠퍼스</p>
        </div>
        <div>
            <p><span >보드와 함께 서피</span></p>
            <p><a href="https://www.facebook.com" target="_blank">Facebook</a></p>
            <p><a href="https://www.instagram.com" target="_blank">Instagram</a></p>
        </div>
    </div>

</body>
</html>