<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>서피 숏보드</title>
    <link rel="stylesheet" href="../static/src/style/header_footer.css">
    <link rel="stylesheet" href="../static/src/style/introduction.css">
    <link rel="stylesheet" href="../static/src/style/main_page.css">
    <link rel="stylesheet" href="../static/src/style/setup.css">
    <link rel="stylesheet" href="../static/src/style/src_miniBoard.css">
    <link rel="stylesheet" href="../static/src/style/src_longBoard.css">
    <link rel="stylesheet" href="../static/src/style/src_shortBoard.css">

    <style>
        body{background-color: #F7F5F5; color: #372C2C;}
        .footer {background-color: white}
    </style>
</head>
<body>

    <div class="pageHeader">
        <a href="" class="pageHeaderLongboard">롱보드</a>
        <a href="" class="pageHeaderMiniboard">미니 말</a>
        <a href="" class="pageIcon"><img src="../static/src/img/Icon.png"></a>
        <a href="" class="pageHeaderShortboard" style="color: gray">숏보드</a>
        <a href="" class="pageHeaderFishboard">피쉬보드</a>
    </div>

    <div class="Board_introduction start">
        <div class="pageShape" style="border-color: #861111; border-radius: 50%"></div>
        <div class="middle_line short_introduction_line short_border_color"></div>
         <div class="life_quote">
             <p>나는 <span>숏보드</span>를 타며 날 수 있다.</p>
            <p>- 제프 학만 -</p>
         </div>
        <div class="boardpic_letter_wrap">
            <img style="height: 430px" src="../static/src/img/short_board.png">
            <div class="Board_keywords" style="background-color: #F7F5F5;">
                <p>숏보드를 키워드로 나타내면</p>
                <p>속도, 날카로움, 자유 입니다.</p>
            </div>
        </div>
    </div>

    <div class="Board_introduction Lyrics">
        <div class="middle_line line_height short_border_color"></div>
        <div class="lyrics_line" style="top: 474px; left: 1400px">한마리의 독수리와 같이요.</div>
        <img id="short_lyrics_pic" src="../static/src/img/eagle.png">
        <div class="shall_we_start">그럼 시작해 볼까요?</div>
    </div>

    <div class="Board_introduction NoseTail">
        <div class="middle_line_justify">
            <div class="middle_line short_border_color line_height" style="width: 1080px"></div>
        </div>
        <div class="explain_line short_border_color Right" style="top: 290px">
            <div class="explain_line_triangle"></div>
        </div>
        <div class="explain_line short_border_color Right" style="top: 790px">
            <div class="explain_line_triangle"></div>
        </div>
        <div class="horizon">
            <div class="right_explain_location" style="top: 255px">롱보드의 Nose는 넓고 둥급니다.<br>긴 시간 동안 안정적으로 서핑하는데 도움을 줍니다.</div>
            <img id="mini_Nose_pic_location" src="../static/src/img/mini_tail.png">
        </div>
        <div class="horizon row_reverse">
            <div class="right_explain_location" style="top: 755px">반면, 롱보드의 Tail은 좁고 뾰족합니다.<br>보드를 조종하고 방향을 바꾸는데 중요한 역할을 합니다.</div>
            <img id="mini_Tail_pic_location" class="" src="../static/src/img/mini_nose.png">
        </div>
    </div>

</body>
</html>